@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400&display=swap');

.admin-bar {
    width: 100%;
    background-color: #4d4d4d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.admin-bar .admin-bar-inner {
    padding: 2px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.admin-bar .admin-bar-inner p {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 0 .5rem;
    font-weight: 200;
}

.admin-bar .admin-bar-inner span {
    display: flex;
    align-items: center;
}

.admin-bar .admin-bar-inner a {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin: 0 .25rem;
    display: block;
}

.admin-bar .admin-bar-inner span img {
    width: 14px;
    height: 14px;
}

.admin-bar .admin-bar-inner span a:nth-of-type(2) {
    max-height: 14px;
}