header {
    border-bottom: 2px solid #ff7f35;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div {
    padding: .75rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

main {
    width: 70%;
    margin: 1.5rem auto;
}

.post-preview img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.post-image img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #4d4d4d;
}

.footer-top {
    width: 90%;
    margin: 0 auto;
    padding: .5rem;
}

#footer-menu {
    list-style-type: none;
    text-align: center;
}

#footer-menu a {
    display: inline-block;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 200;
    transition: .4s;
    padding: .23rem;
    text-decoration: none;
}

#footer-menu a:hover {
    text-decoration: underline;
    text-decoration-color: #ff7f35;
}

#footer-info {
    text-align: center;
    font-size: .9rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: .05rem;
    padding: .25rem;
}